{{ $featured_image := .Param "featured_image"}}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
  <header class="cover bg-top" style="background-image: url('{{ $featured_image }}');">
    <div class="{{ .Site.Params.cover_dimming_class | default "bg-black-60" }}">
      {{ partial "site-navigation.html" .}}
      <div class="pa3">
        <h1 class="f2 fw5 white measure-wide">
          {{ .Title | default .Site.Title }}
        </h1>
        {{ with .Params.description }}
          <h2 class="f4 fw5 white measure-narrow">
            {{ . }}
          </h2>
        {{ end }}
      </div>

    </div>
  </header>
{{ else }}
  <header>
    <div class=" {{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}

      <div class="w-100 pa3 pa6-l">
        <h1 class="f2 fw5 white measure-narrow lh-title">
          {{ .Title | default .Site.Title }}
        </h1>
        {{ with .Params.description }}
          <h2 class="f4 fw7 white measure-narrow lh-copy">
            {{ . }}
          </h2>
        {{ end }}
      </div>
      <div class="w-100 measure pa3 pa6-l bg-black near-white">
          {{ range .Site.Taxonomies.cm.featured }}
          <div class="">
              <h5 class="mt0 mb2 tracked ttu">Udvalgte erfaringer</h5>
              <a class="near-white link dim" href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
          </div>
          {{ end }}
      </div>
      </div>

    </div>
  </header>
{{ end }}
