

<!--    Made by Erik Terwan    -->
<!--   24th of November 2015   -->
<!--        MIT License        -->
<nav class="w-100" role="navigation">


  <div class="fl w-third pa2 " id="menuToggle">

    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input type="checkbox" />

    <!--
    Some spans to act as a hamburger.

    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
    <span></span>
    <span></span>
    <span></span>

    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->






    {{ if .Site.Menus.main }}
      <ul id="menu" class="shadow-5">
        {{ range .Site.Menus.main }}

          <a class="hover-white no-underline white-90" href="{{ .Permalink }}" title="{{ .Name }} page">
                    <li class="">
            {{ .Name }}
                    </li>
          </a>

        {{ end }}
      </ul>
    {{ end }}


  </div>
  <div class="fl w-third pa2 tc">
  <a href="{{ .Site.BaseURL }}" class="p0 bw3 lh-solid f1 fw5 hover-white no-underline white">
    {{ .Site.Title }}
  </a>
  <div class="white f6">{{ .Site.Params.slogan }}</div>
  </div>
  <div class="fl w-third pa2 ">
   <div class="fr">
    <a href="/search" class="fr f2 fw2 hover-white lh-solid no-underline white-90">
    ⌕
    </a>
    {{ partial "i18nlist.html" . }}
   </div>
  </div>

</nav>
