{{ define "main" }}



<article class="pa3 pa5-ns" data-name="slab-stat">
	<dl class="dib mr5">
		<dd class="f6 f5-ns b ml0">{{ .Page.Title }}</dd>
		<dd class="f3 f2-ns b ml0">{{ len (where .Site.RegularPages "Type" "short" )  }}</dd>
</article>



  <article class="pa3 pa4-ns nested-copy-line-height nested-img">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
      {{- .Content -}}
    </section>
    <section class="flex-ns flex-wrap justify-around mt5">
      {{ range .Paginator.Pages }}
        <div class="relative w-100 mb4 bg-white">
        	<div class="bg-white f4 pa4 f3-l pa5-l gray overflow-hidden">
          {{- .Content -}}
          	<a class="link f5" href="{{- .RelPermalink -}}">Link</a>
          </div>
        </div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}
