{{ define "header" }}{{ partial "index-header.html" . }}{{ end }}
{{ define "main" }}
<div class="mw9 center">
<article class="cf pa4-l pv3 pb1-l">
  {{ .Content }}
</article>

<div class="flex-column-s flex-column-m flex-l justify-between-l">


  <div class="w-100 w-half-l pt4 pa4-l">
    <h4 class="mt0 mb2 tracked ttu">Udvalgte ydelser</h4>
    <ul class="list pl0">
      {{- range where .Site.RegularPages "Type" "ydelse" -}} 
      <li class="f4 pt3 pb3 measure-narrow lh-title">

        <a href="{{ .Page.RelPermalink }}" class="link f3">{{ .Page.Title }}</a>
       </li>
      {{ end }}
    </ul>
  </div>
</div>

<hr class="ml0 ml4-l mb5 mb6-l mw5 bb bw2 b--black-70">

<div class="flex-column-s flex-column-m flex-l justify-between-l">

  <div class="w-100 w-third-l pt4 pa4-l">
    <h5 class="mt0 mb2 tracked ttu">Senest</h5>
    <ul class="list pl0">
      {{ range first 2 .Site.RegularPages.ByDate.Reverse }}
      <li class="f4 pt3 pb3 measure-narrow lh-title">

        <a href="{{ .Page.RelPermalink }}" class="link">{{ .Page.Title }}</a>
        <div class="f7 fw4 mt1 mb0 black-60"><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
            {{- .Date.Format "02/01/2006" -}}
          </time>
        </div>
      </li>
      {{ end }}
    </ul>
  </div>

  <div class="w-100 w-third-l pt4 pa4-l">
    <h5 class="mt0 mb2 tracked ttu">Udvalgt</h5>
    <ul class="list pl0">
      {{ range .Site.Taxonomies.cm.featured }}
      <li class="f4 pt3 pb3 measure-narrow lh-title">
        <a href="{{ .Page.RelPermalink }}" class="link">{{ .Page.Title }}</a>
        <div class="f6 fw4 mt1 mb0 black-60">{{ .Summary  }}</div>
      </li>
      {{ end }}
    </ul>
  </div>


  <div class="w-100 w-third-l pt4 pa4-l">
    <h5 class="mt0 mb2 tracked ttu">Long read</h5>
    <ul class="list pl0">


      {{ range first 2 (where .Site.RegularPages.ByLength.Reverse "Params.show_reading_time" true) }}



      <li class="f4 pt3 pb3 measure-narrow lh-title">

        <a href="{{ .Page.RelPermalink }}" class="link">{{ .Page.Title }}</a>
        <div class="f6 fw4 mt1 mb0 black-60">{{ i18n "readingTime" .ReadingTime}}</div>
      </li>

      {{ end }}

    </ul>
  </div>




</div>

  
</div>
{{ end }}
