{{ define "main" }}


{{/*	
<article class="pa3 pa5-ns" data-name="slab-stat">
	<dl class="dib mr5">
		<dd class="f6 f5-ns b ml0">{{ .Page.Title }}</dd>
		<dd class="f3 f2-ns b ml0">{{ len (where .Site.Pages "Type" "ydelse" )  }}</dd>
</article>
*/}} 


<article class="pa3 pa4-ns nested-copy-line-height nested-img">
	<section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
		{{- .Content -}}
	</section>
	<section class="flex-ns flex-wrap justify-around mt5">
		{{ range .Sections }}
		<div class="relative w-100 w-30-l mb4 bg-white">
			<div class="relative w-100 mb4 bg-white nested-copy-line-height">
				<div class="bg-white mb3 pa4 gray overflow-hidden">
					<h1 class="f3 near-black">
						<a href="{{ .Permalink }}" class="link black dim">
							{{ .Title }}
						</a>
					</h1>
					<div class="nested-links f5 lh-copy nested-copy-line-height">
						{{ .Summary  }}
					</div>
				</div>
			</div>
		</div>
		{{ end }}
	</section>

	{{ range .RegularPagesRecursive.GroupBy "Parent" }}
	<h3 class="w-100">{{ .Key.Title }}</h3>

	<section class="flex-ns flex-wrap justify-around mt5">
		{{ range .Pages }}
		<div class="relative w-100  mb4 bg-white">
			<div class="relative w-100 mb1 bg-white nested-copy-line-height">
				<div class="bg-white mb3 pa4 gray overflow-hidden">

					<h2 class="f3 f1-l near-black">
						<a href="{{ .Permalink }}" class="link black dim">
							{{ .Title }}
						</a>
					</h2>
					{{/*	
					<div class="nested-links f5 lh-copy nested-copy-line-height">
						{{ .Summary  }}
					</div>
					*/}} 

				</div>
			</div>
		</div>
		{{ end }}
		{{ end }}

	</section>


</article>
{{ end }}
