{{ define "main" }}
  {{ $data := .Data }}
  <article class="cf pa3-l">
    <div class="measure-wide-l f4 lh-copy nested-copy-line-height nested-links nested-img mid-gray">
      {{ .Content }}
    </div>
  </article>

  <article class="pa3-l nested-copy-line-height nested-img">
    <section class="flex-ns flex-wrap justify-around mt5">
      {{ range $key, $value := .Data.Terms }}
        <div class="relative w-100 w-30-l mb4 bg-white">
          <div class="relative w-100 bg-white nested-copy-line-height">
            <div class="bg-white pa4 gray overflow-hidden">
              <h2 class="f3 mb2 mt0">
                <a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}" class="link blue hover-black">
                  {{ $key | humanize | title }}
                </a>
              </h2>
              {{ range $value.Pages }}
                {{ partial "small-summary.html" . }}
              {{ end }}
            </div>
          </div>
        </div>
      {{ end }}
    </section>
  </article>
{{ end }}
