{{ define "main" }}
  {{ $data := .Data }}
  <div class="flex flex-wrap-reverse">
   <article class="order-1 w-100 w-40-l pa4-l">
    <div class="measure-wide-l f4 lh-copy nested-copy-line-height nested-links nested-img mid-gray">
      {{ .Content }}
    </div>
   </article>

   <article class="order-0 w-100 w-60-l pa4-l nested-copy-line-height nested-img">
    <section class="flex-ns flex-wrap justify-around mt5">
      {{ range $key, $value := .Data.Terms }}
        <div class="relative w-100 mb4">
          <div class="relative w-100 bg-white nested-copy-line-height">
            <div class="bg-white pa4 gray overflow-hidden">
              <h2 class="f3 mb2 mt0">
                <a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}" class="link blue hover-black">
                  {{ $key | humanize | title }}
                </a>
              </h2>
              {{ range $value.Pages }}
                {{ partial "small-summary.html" . }}
              {{ end }}
            </div>
          </div>
        </div>
      {{ end }}
    </section>
   </article>
  </div>
{{ end }}
