{{ define "main" }}


<article class="pa3 pa5-ns" data-name="slab-stat">
  <dl class="dib mr5">
    <dd class="f6 f5-ns b ml0">Tilfredse kunder</dd>
    <dd class="f3 f2-ns b ml0">{{ len (where .Site.RegularPages "Type" "kunde" )  }}</dd>
  </dl>
  <dl class="dib">
    <dd class="f6 f5-ns b ml0">Anbefalinger</dd>
    <dd class="f3 f2-ns b ml0">{{ len (where .Site.RegularPages  "Params.anbefaling" "ne" nil)  }}</dd>
  </dl>
</article>




    <ul class="list pa3 pa4-ns">
      {{- range first 3 (where .Site.RegularPages "Params.anbefaling" "ne" nil ) -}} 
      <li class="dib mr2">

        <a href="{{ .Page.RelPermalink }}" class="f4 f2-ns b db pa4 link dim mid-gray">{{ .Params.anbefaling }}</a>
       </li>
      {{ end }}
    </ul>



  <article class="pa3 pa4-ns nested-copy-line-height nested-img">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
      {{- .Content -}}
    </section>
    <section class="flex-ns flex-wrap justify-around mt5">
      {{ range .Paginator.Pages }}
        <div class="relative w-100 w-30-l mb4 bg-white">
          {{- partial "summary.html" . -}}
        </div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}
